
/* <h1> style */
h1{
  text-align: center;
}

/* <table> styles */
table {
  width: 100%;
}
  .ten {
    width: 10%
  }
  .twenty {
    width: 20%;
  }
  .thirty {
    width: 30%;
  }
  .thirtythree {
    width: 33%;
  }
    
/* <a> style delete underline*/
a:link{
  text-decoration: none;
} 

/* <div> arcade style */
 div{
  font-family: 'Press Start 2P', cursive;
  font-size:3vw;
  text-align: center;
  color: white;
  text-shadow: -2px 0 0 #fdff2a,
  -4px 0 0 #df4a42,
  2px 0 0 #91fcfe,
  4px 0 0 #4405fc
  }  

/* <input> style */
  input{
    font-family: 'Press Start 2P', cursive; 
    font-size:3vw;  
    }

  /* <a> style */
   a{
  font-family: 'Press Start 2P', cursive; 
  font-size:3vw;  
  text-align: center;
  color: white;
  text-shadow: -2px 0 0 #fdff2a,
  -4px 0 0 #df4a42,
  2px 0 0 #91fcfe,
  4px 0 0 #4405fc
 }
/* <select> style */
  select{
    font-family: 'Press Start 2P', cursive; 
    font-size:3vw;  
  }

/* Background style */
body {
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
  }
  
  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
    pointer-events: none;
  }
  
  ::selection {
    background: #0080FF;
    text-shadow: none;
  }
  
  pre {
    margin: 0;
  } 

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img.a {
    vertical-align: baseline;
  }
  
  img.b {
    vertical-align: text-top;
  }
  
  img.c {
    vertical-align: text-bottom;
  }
  
  img.d {
    vertical-align: sub;
  }
  
  img.vertsuper {
    vertical-align: super;
  }

  /* Class blink style*/

.blink {
  
  -webkit-animation: blink .75s linear infinite;
  -moz-animation: blink .75s linear infinite;
  -ms-animation: blink .75s linear infinite;
  -o-animation: blink .75s linear infinite;
   animation: blink .75s linear infinite;
    }
  @-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }

.blinkr {

  color: #FF4500;
  -webkit-animation: blink .75s linear infinite;
  -moz-animation: blink .75s linear infinite;
  -ms-animation: blink .75s linear infinite;
  -o-animation: blink .75s linear infinite;
   animation: blink .75s linear infinite;
    }
  @-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }


.blinky {

  color: rgb(255, 196, 0);
  -webkit-animation: blink .75s linear infinite;
  -moz-animation: blink .75s linear infinite;
  -ms-animation: blink .75s linear infinite;
  -o-animation: blink .75s linear infinite;
   animation: blink .75s linear infinite;
    }
  @-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
    }

  /* Make responsive text */
    /* mobile wide */
  @media screen and (max-width: 600px) {
    div {
      font-size:8vw;
    }

  input{    
    font-size:8vw; 
    width:80%; 
    }

   a{
    font-size:8vw; 
    }

  h1{
    font-size: 9vw;
  }

  /* Make responsive images */

  .responsive {
    width: 200%;
    max-width: 600px;
    height: auto;
  }

  .hidemob{
    width: 0%;
    max-width: 300px;
    height: auto;
  }

  /* tables */
  table {
    width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
  }


  /* monitor wide */
  @media screen and (min-width: 600px) {
    .responsive {
      width: 100%;
      max-width: 300px;
      height: auto;
    }

    .hidemob{
      width: 10%;
      max-width: 300px;
      height: auto;
    }

  }

  
  